* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: inherit;
}

:root {
	--color-background: #222;
	--color-background-section: #79ea95;
	--color-primary: #79ea95;

	--color-text: #fff;
	--color-text-section: #222;
	--color-text-primary: #43aa5c;

	--border-radius-big: 1rem;
	--border-radius-small: 0.5rem;
}

html {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-weight: normal;
	color: var(--color-text);

	background-color: var(--color-background);
}

#app {
	max-width: 1280px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 2rem;
}

/* Range */

input[type="range"] {
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
	background-color: transparent;
}
input[type="range"]:focus {
	outline: none;
}
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]:focus::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track {
	width: 100%;
	height: 0.3rem;
	cursor: pointer;
	box-shadow: none;
	background: var(--color-primary);
	border-radius: var(--border-radius-small);
	border: none;
}
input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
	-webkit-appearance: none;
	box-shadow: none;
	border: 0.3rem solid var(--color-primary);
	height: 0.5rem;
	width: 2rem;
	border-radius: var(--border-radius-small);
	background: var(--color-background);
	cursor: pointer;
}
input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:hover::-moz-range-thumb {
	background-color: var(--color-background-section);
}
input[type="range"]:focus::-webkit-slider-thumb,
input[type="range"]:focus::-moz-range-thumb {
	box-shadow: 0 0 1rem var(--color-primary);
	z-index: 1;
}
